/*#include wui/wui.min.css*/
/*#include normalize/normalize.css*/
/*#include electron.css*/
/*#include codemirror/codemirror.css*/
/*#include codemirror/addon/scroll/simplescrollbars.css*/
/*#include codemirror/addon/search/matchesonscrollbar.css*/
/*#include codemirror/addon/display/fullscreen.css*/
/*#include FontAwesome/font-awesome.min.css*/
/*#include litegraph/litegraph.css*/

/*#include wui.css*/
/*#include icons.css*/

.wui-rangeslider-title {
    font-family: inherit !important;
    font-size: 9pt;
}

.wui-rangeslider-input:invalid {
    background-color: #800000 !important;
    -webkit-box-shadow: 0px 0px 4px 1px #ff0000;
    box-shadow: 0px 0px 4px 1px #ff0000;
    border: none;
}

html, body {
    width: 100%;
    height: 100%;
    
    margin: 0 auto;
}

body {
    font-family: "OpenSans-Regular", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    
    overflow: hidden;
    background-color: black;
}

@font-face {
    font-family: "OpenSans-Regular";
    src: url('../data/OpenSans-Regular.woff');
}

@font-face {
    font-family: "Inconsolata";
    src: url('../data/inconsolata.woff');
}

.CodeMirror-focused .cm-matchhighlight {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFklEQVQI12NgYGBgkKzc8x9CMDAwAAAmhwSbidEoSQAAAABJRU5ErkJggg==);
    background-position: bottom;
    background-repeat: repeat-x;
}

.cm-matchhighlight {
    background-color: #333333;
}
.CodeMirror-selection-highlight-scrollbar {
    background-color: green
}

.fs-midi-out-editor {
    height: 300px;
}

.CodeMirror {
    width: 100%;
    height: 100%;
    
    font-family: "Inconsolata", monospace;
    font-style: normal;
    font-weight: normal;
}

.canvas {
    position: relative;
    
    /*height: calc(50% - 68px);*/
    
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    /*overflow: auto;*/
    
    background-color: #010101;
    background-image: url("../data/dark-tire.png");
}

.canvas canvas {
    border-left: solid 1px #222;
    border-right: solid 1px #222;
}

canvas {
    display: block;
    margin: auto;
}

.fs-time-infos {
    color: #ffffff;
    
    position: absolute;

    width: 100%;
    height: 32px;
    
    font-size: 11pt;
    
    padding-top: 8px;
    
    text-align: center;
    
    pointer-events: none;

    cursor: default;
}

.fs-server-status {
    width: 14px;
    height: 14px;
    /*background-color: #ff0000;*/
    display: inline-block;
    /*border-radius: 4px;*/
    color: #ff0000;
    margin-left: 2px;
}

.fs-server-status:before {
    font-size: 14px;
    font-family: FontAwesome;
    content: '\f109';
}

.fs-server-status-on {
    /*background-color: #00ff00;*/
    color: #00ff00;
}

.fs-notification {
    white-space: pre-wrap;
    
    position: absolute;
    
    width: calc(100% - 16px);
    height: calc(100% - 49px);
    
    padding: 8px;
    
    color: white;
    
    pointer-events: none;
    
    font-family: sans-serif;
    
    z-index: 4;
    
    opacity: 1;
    
    font-size: 13px;
    
    line-height: 15px;
}

.fs-haxis-infos {
    height: 1px;
    left: 0;
    position: absolute;
    color: #ffffff;
    width: 100%;
    background-color: #bbbbbb;
    /*border-top: 1px dashed #bbbbbb;*/
}

.fs-vaxis-infos {
    top: 0;
    position: absolute;
    width: 1px;
    background-color: #bbbbbb;
    /*border-left: 1px dashed #bbbbbb;*/
    color: #ffffff;
}

.fs-haxis-infos div {
    font-size: 10pt;
    margin-left: 4px;
    margin-top: 4px;
    display: inline-block;
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99999;
    position: absolute;
}

.fs-haxis-infos div:last-child {
    font-size: 10pt;
    margin-left: 16px;
    margin-top: 4px;
    display: inline-block;
    position: absolute;
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99999;
}

.fs-vaxis-infos div {
    font-size: 10pt;
    width: auto;
    margin: 4px;
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99999;
    position: absolute;
}

.fs-opacity-transition {
    -webkit-transition: opacity 2s;
    transition: opacity 2s;
}

.fs-text-align-right {
    text-align: right;
}

.fs-transparent {
    opacity: 0;
}

.fs-outline {
    background-color: #111111;
    overflow: auto;
}

.fs-outline div {
    padding: 2px;
    color: #ffffff;
    font-weight: normal;
    font-family: "Inconsolata", monospace;
    font-size: 13px;
}

.fs-outline div:hover {
    cursor: pointer;
}

.fs-outline-item-type {
    color: burlywood;
    font-weight: bold;
}

.fs-outline-mark:before {
    font-family: FontAwesome;
    content: "\f005";
    padding-right: 5px;
    color: yellow;
    font-size: 8px;
}

.fs-outline-function:before {
    font-family: FontAwesome;
    content: "\f02c";
    padding-right: 5px;
    color: yellow;
    font-size: 8px;
}

.fs-outline-declarator:before {
    font-family: FontAwesome;
    content: "\f02b";
    padding-right: 5px;
    color: orange;
    font-size: 8px;
}

.fs-outline-preprocessor:before {
    font-family: FontAwesome;
    content: "\f005";
    padding-right: 5px;
    color: red;
    font-size: 8px;
}

.fs-mark {
    width: .8em;
    color: yellow;
}

.fs-mark:hover {
    cursor: pointer;
}

.fs-record-toolbar {
    position: absolute;
    right: 0;
    bottom: 0;
}

.fs-controls-toolbar {
    position: absolute;
    right: 0;
    bottom: 0;
}

.fs-top-panel {
    height: 32px;
    background-color: #111111;
    border-bottom: solid 1px #333;
}

.fs-app-settings {
    display: inline;
    
    float: right;
}

.fs-app-infos {
    color: #ffffff;
    
    font-size: 10pt;
    
    display: inline-block;
    
    margin-top: 8px;
    margin-left: 8px;
}

.fs-user-name {
    margin-left: 4px;
    font-size: 9pt;
    
    display: inline-block;
}

.fs-user-name:hover {
    cursor: pointer;
}

.fs-input-thumb {
    display: inline-block;
    
    width: 30px;
    height: 30px;
    border: solid 1px #888888;
    border-radius: 2px;
    
    margin-right: 4px;
}

.fs-input-thumb:hover {
    cursor: pointer;
    border: solid 1px #dddddd;
}

.fs-input-settings-label {
    color: #ffffff;
    display: inline-block;
    text-align: right;
    width: 54px;
}

.fs-input-label {
    color: #ffffff;
    display: inline-block;
    text-align: right;
    width: 94px;
    font-size: 10pt;
    vertical-align: middle;
}

.fs-select-label {
    color: #ffffff;
    display: inline-block;
    text-align: right;
    width: 94px;
    height: 40px;
    line-height: 48px;
    font-size: 10pt;
    vertical-align: top;
}

.fs-ck-container {
    color: #ffffff;
    display: inline-block;
    text-align: right;
    width: 145px;
    font-size: 10pt;
}

.fs-ck-label {
    width: inherit;
}

.fs-ck-label div {
    display: inline-block;
    user-select: none;
}

.fs-ck-label input {
    vertical-align: middle;
}

.fs-spacer {
    height: 6px;
}

.fs-textarea {
    color: #ffffff;
    
    cursor: default;
    
    font-size: 10pt;
    
    background-color: #181818;

    line-height: normal;

    border: none;
}

.fs-btn {
    color: #ffffff;
    
    cursor: default;
    
    font-size: 10pt;
    
    margin-bottom: 4px;
    margin-top: 4px;
    
    border-radius: 4px;
    
    background-color: #181818;
    border-top: solid 1px #404040;
    border-left: solid 1px #404040;
    border-bottom: solid 1px #000000;
    border-right: solid 1px #000000;

    text-align: center;

    line-height: normal;
}

.fs-multiple-select {
    color: #ffffff;
    
    cursor: default;
    
    font-size: 10pt;

    width: 100%;
    max-height: 120px;
    
    margin-bottom: 4px;
    margin-top: 4px;
    
    border-radius: 4px;
    
    background-color: #181818;
    border-top: solid 1px #404040;
    border-left: solid 1px #404040;
    border-bottom: solid 1px #000000;
    border-right: solid 1px #000000;

    line-height: normal;
}

.fs-checkbox:hover {
    cursor: pointer;
}

.fs-btn:hover {
    cursor: pointer;
}

.fs-btn-default {
    width: 180px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.fs-delete-controls {
    position: absolute;
    left: 2px;
    top: 4px;
}

.fs-controls-group {
    background-color: #111111;
    border: solid 1px #444444;
    padding: 8px;
    padding-right: 20px;
    margin-right: 2px;
    margin-left: 2px;
    position: relative;
}

.fs-controls-group-elems {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    
    margin-top: 8px;
}

.fs-controls-panel {
    color: white;
    text-align: center;
    
    font-size: 10pt;
    
    border-top: solid 1px #464646;
    padding: 12px;
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.fs-controls-panel .wui-rangeslider {
    margin-left: 2px;
    margin-right: 2px;
}

.fs-settings {
    text-align: center;
}

.fs-settings-panel {
    width: 225px;
    text-align: center;
    border: solid 2px #222;
    background-color: #111;
    margin: 8px;
    display: inline-block;
    color: #ff8000;
}

.fs-controls-panel-list {
    width: 225px;
    text-align: center;
    margin: 8px;
    display: inline-block;
}

.fs-controls-add-ctrl {
    width: 120px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.fs-discuss {
    width: calc(100% - 146px);
    height: calc(100% - 38px);
    background-color: #111;
    display: inline-block;
    border: solid 1px #222;
    padding: 0;
    margin: 0;
    color: #ffffff;
    font-size: 10pt;
    overflow-y: auto;
}

.fs-discuss li {
    padding-top: 2px;
    padding-left: 4px;
    cursor: default;
}

.fs-users-list {
    width: 140px;
    height: 100%;
    background-color: #111;
    display: inline-block;
    float: right;
    border: solid 1px #222;
    color: #ffffff;
    font-size: 10pt;
    overflow-y: auto;
    overflow-x: hidden;
}

.fs-users-list li {
    cursor: default;
    list-style-type: none;
    white-space: nowrap;
    margin-bottom: 2px;
}

.fs-users-list li:before {
    content: "\f007";
    font-family: FontAwesome;
    margin-right: 6px;
}

.fs-users-list ul {
    display: inline-block;
    padding-left: 12px;
}

.fs-discuss-input {
    width: calc(100% - 152px);
    height: 20px;
    vertical-align: middle;
    margin: 0;
    text-align: left;
    border: none !important;
    padding: 4px;
}

.fs-discuss-input:hover {
    cursor: text;
}

.fs-slices-list {
    list-style: none;
    margin: 0;
    padding: 8px;
}

.fs-slices-list li {
    color: white;
    font-size: 12px;
}

.fs-slices-list li:hover {
    cursor: pointer;
    color: #ff8000;
}

.fs-bottom-panel {
/*
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    
    -webkit-box-pack: space-around;
    
    -webkit-justify-content: space-around;
    
    -ms-flex-pack: space-around;
    
    justify-content: space-around;
    
    -webkit-box-align: center;
    
    -webkit-align-items: center;
    
    -ms-flex-align: center;
    
    align-items: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
*/
}

@media all and (max-width: 768px) {
    .fs-middle-toolbar {
        width: 90%;
        
        margin: 0;
        
        display: inline-block;
    }

    .fs-middle-panel {
        border-top: solid 1px #282828;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        text-align: center;
    }
    
    .fs-input-panel {
        padding-top: 2px;

        width: 100%;

        display: flex;
        
        overflow-y: auto;

        padding-bottom: 2px;
        text-align: center;
    }
}

@media all and (min-width: 768px) {
    .fs-middle-toolbar {
        width: 591px;
        
        margin: 0;
        
        display: inline-block;
    }

    .fs-middle-panel {
        border-top: solid 1px #282828;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        position: relative;
    }
    
    .fs-input-panel {
        width: calc(100% - 591px - 8px);

        display: inline-flex;

        position: absolute;
        top: 4px;
        
        overflow-y: auto;
    }
}

.fs-middle-toolbar > div {
    display: inline-block;
}

.play-position-marker {
    position: absolute;
    
    width: 1px;
    /*height: 100%;*/
}

.play-position-triangle {
    width: 0;
    height: 0;
    left: -8px;
    position: absolute;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #ffffff;
}

.play-position-triangle:hover {
    cursor: hand;
}

.play-position-triangle-vflip {
    width: 0;
    height: 0;
    left: -8px;
    position: absolute;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #ffffff;
    
    bottom: 0;
}

.play-position-triangle-vflip:hover {
    cursor: hand;
}

.fs-compile-error {
    color: red;
    font-weight: bold;
}

.fs-slice-output {
    color: yellow;
    position: absolute;
    top: -20px;
    right: -3px;
    font-size: 13px;
}

.fs-utter-fail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    
    width: 100%;
/*    height: 100%;*/
    padding: 0;
    
    pointer-events: all;
}

.fs-midi-settings-device {
    background-color: #111;
    border-right: solid 2px #000;
    border-bottom: solid 2px #000;
    border-left: solid 1px #222;
    border-top: solid 1px #222;
    padding: 4px;
    font-size: 10pt;
    position: relative;
}

.fs-midi-settings-device label {
    right: 4px;
    position: absolute;
}

.fs-midi-settings-section {
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 11pt;
    text-align: center;
}

.fs-midi-settings-device > div {
    padding: 1px;
    font-size: 9pt;
    display: inline-block;
    width: 206px;
}

.fs-midi-settings {
    color: #ffffff;
    overflow: overlay;
}

.fs-red-curtain {
    background-color: #000000;
    width: 100%;
    height: 100%;
    z-index: 99999;
    position: absolute;
    -webkit-transition: opacity 2s;
    transition: opacity 2s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 1;
    pointer-events: none;
}

.fs-open-red-curtain {
    opacity: 0;
}

.fs-help-content {
    text-align: center;
    padding-top: 16px;
}

.fs-documentation {
    color: #ffffff;
    /*margin: 8px;*/
    padding: 6px;
    background-color: #111111;
}

.fs-documentation a {
    color: #ffff00;
    text-decoration: none;
}

.fs-documentation-entries {
    list-style-type: none;
    padding-left: 12px;
    font-size: 12px;
}

.fs-documentation-entries ul {
    list-style-type: none;
    padding-left: 12px;
    margin-top: 2px;
    margin-bottom: 6px;
}

.fs-documentation-entries > li {
    /*
    background-color: #222222;
    padding: 4px;
    margin: 2px;
    border-top: solid 1px #444444;
    */
}

.fs-documentation-keyword:before {
    font-family: FontAwesome;
    content: "\f0c5";
    padding-right: 3px;
    color: #ffffff;
}

.fs-documentation-keyword {
    color: #ffd700;
}

.fs-documentation-keyword:hover {
    cursor: pointer;
}

.fs-documentation-action {
    color: #ffd700;
}

.fs-documentation-action:hover {
    cursor: pointer;
}

.fs-workspace-reduce:hover {
    background-color: #444444;
    cursor: pointer;
}

.fs-ltr-container {
    direction: ltr;
}

.fs-explorer {
    background-color: #111111;
    flex: 0 0 140px;
    padding-left: 18px;
    font-size: 12pt;
    padding-top: 4px;
    direction: rtl;
    overflow-y: auto;
    user-select: none;
}

.fs-explorer-title {
    color: lightgrey;
    font-size: 11pt;
    margin-top: 6px;
    margin-bottom: 2px;
}

.fs-workspace-content {
    padding-left: 6px;
}

.fs-workspace-category-content {
    padding-bottom: 1px;
    margin-top: 6px;
    border-left: solid 1px #222222;
    margin-left: 4px;
}

.fs-workspace-title {
    color: lightgrey;
    font-size: 10pt;
}

.fs-workspace-item {
    color: lightgrey;
    font-size: 9pt;
    margin-left: 4px;
    padding-top: 3px;
    padding-left: 6px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding-bottom: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    /*background-color: #222222;*/
}

.fs-workspace-reduce-btn {
    display: inline-block;
    outline: solid 1px #222222;
    width: 10px;
    height: 12px;
    text-align: center;
    line-height: 10px;
    vertical-align: middle;
    font-size: 10pt;
}

.fs-workspace-reduce-btn:hover {
    background-color: #222222;
    cursor: pointer;
}

div[class~=fs-workspace-item]:hover {
    background-color: #333333;
    cursor: pointer;
}

.fs-workspace-item-active {
    background-color: #003b5d;
}

.fs-code-view {
    width: 100%;
    margin: auto;
    padding: auto;
    display: flex;
    font-size: 12px;
}

.node {
    width: 100%;
    position: relative;
}

.code {
    min-width: 0;
    width: 100%;
}

body .code .CodeMirror-fullscreen {
    background-color: rgba(21, 22, 23, 0.0) !important;
}

.fs-load-indicator {
    width: 16px;
    height: 16px;
    
    background-color: green;
    
    position: absolute;
    
    top: 2px;
    right: 2px;
    
    z-index: 2;
}

.fs-hide {
    display: none;
}

.fs-dropzone {
    width: 100%;
    height: 86px;
    
    border-radius: 4px;
    background-color: #1f1f1f;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    /*margin-left: 1px;*/
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    
    /*position: absolute;*/
    margin-top: 8px;
    bottom: 1px;
}

.fs-audio-import-settings {
    width: 380px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 6px;
    color: #ffffff;
}

.fs-helper-canvas {
    position: absolute;
    pointer-events: none;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;

    z-index: 200;
    
    top: 0;
    left: 0;
    
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.fs-chn-settings-main {
    width: 320px;
    border: solid 1px #333;
    border-radius: 4px;
    background-color: #111;
    margin: 0 auto 6px;
    color: #fff;
    padding: 3px;
    font-size: 13px;
}

.fs-chn-settings {
    padding-left: 3px;
    padding-right: 3px;
    margin-top: 4px;
    
    font-size: 12px;
}

.fs-chn-settings-content {
    border: solid 1px #333333;
    border-radius: 4px;
    background-color: #111111;
    margin-top: 0px;
    margin-bottom: 6px;
}

.fs-brushes {
    color: #ffffff;
    margin-left: 4px;
    margin-right: 4px;
    
    font-size: 11px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    height: calc(100% - 196px);
}

.fs-brush:hover {
    cursor: pointer;
}

.fs-brushes-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: auto;
    height: calc(100% - 82px);
    margin: 4px;
    align-content: flex-start;
}

.fs-brushes-container > div {
    width: 48px;
    height: 48px;
    border: solid 1px #202020;
    position: relative;
    background-color: black;
}

.fs-brushes-container > div > div:first-child {
    position: absolute;
    color: #ffffff;
    font-size: 8px;
}

.fs-brushes-container > div > div:nth-child(1) {
    width: 100%;
    height: 100%;
}

.fs-brushes-container img {
    image-rendering: crisp-edges;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    max-width: 48px;
    max-height: 48px;
}

.fs-paint-canvas {
    opacity: 0.8;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.fs-selected-input {
    border: solid 1px #00dd00;
}

.fs-no-select {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.fs-selected-slice:nth-child(0) {
    border-top-color: green;
}

.fs-selected-slice:nth-child(1) {
    border-bottom-color: green;
}

.fs-about {
    font-size: 12px;
    overflow: hidden;
}

.fs-about-footer {
    text-align: center;
    font-size: 15px;
}

.fs-shader-error-header {
    font-size: 16px;
    line-height: 18px;
}

.fs-shader-error {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2px;
}

.fs-date {
    font-size: 12px;
    font-weight: bold;
    color: orange;
}

.fs-link {
    /*font-size: 12px;*/
    text-decoration: none;
    color: yellow;
}

.fs-link:hover {
    color: greenyellow;
    cursor: pointer;
}

.fs-fieldset {
    border: 1px ridge #424242;
    background-color: #111;
    color: #ffffff;
    font-size: 11pt;
    overflow: hidden;
}

.fs-fieldset.fs-collapsible > legend:before {
    font-family: FontAwesome;
    content: "\f0d8";
    padding-right: 3px;
}

.fs-fieldset.fs-collapsed > legend {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.fs-fieldset.fs-collapsible > legend {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.fs-fieldset.fs-collapsed > legend:before {
    font-family: FontAwesome;
    content: "\f0d7";
    padding-right: 3px;
}

.fs-fieldset.fs-collapsed {
    border-left: none;
    border-right: none;
    border-bottom: none;
    height: 10px;
    cursor: pointer;
    padding-top: 0.35em;
    padding-bottom: 0.15em;
}

.fs-fieldset.fs-collapsed *:not(legend) {
    display: none;
}

.fs-fx-card {
    padding-left: 2px;
    width: 64px;
    height: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 11px;
    text-align: left;
    display: inline-block;
    font-family: monospace;
    cursor: pointer;
}

.fs-fx-mute {
    background-image: url("../data/ui-icons/mute.png");
    background-size: contain;
    opacity: 0.25;
}

.fs-fx-container {
    display: flex;
    width: 340px;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
    padding-bottom: 4px;
}

.fs-fx-chn-content {
    background-color: #1f1f1f;
    flex-grow: 1;
    margin-left: 8px;
    display: flex;
    align-items: center;
    border: 1px solid #111111;
}

.fs-fx-chn-out {
    color: white;
    width: 42px;
    border: none;
    padding: 0;
    margin: 0;
    background-color: #282828;
    font-size: 11pt;
    outline: solid 1px #000;
    text-align: center;
}

.fs-matrix {
    font-size: 12px;
    font-family: monospace;
}

.fs-matrix th {
    font-weight: normal;
}

.fs-matrix-first-row {
    text-align: center;
}

.fs-matrix-first-row th {
    padding-bottom: 2px;
    color: #ffffff;
}

.fs-matrix-first-cell {
    text-align: right;
    padding-right: 4px;
    color: #ffffff;
}

.fs-matrix-ck-cell {
    padding: 1px;
}

.fs-matrix-ck-cell:hover {
    cursor: pointer;
}

.fs-md-uniforms {
    height: 500px;
    overflow: auto;
}

.fs-md-uniforms p:nth-child(even) {
    font-size: 15px;
    padding-bottom: 12px;
    padding-left: 8px;
    padding-top: 4px;
    /*font-family: monospace;*/
}

.fs-md-uniforms p:nth-child(odd) {
    margin-right: 8px;
    font-size: 14px;
    background-color: rgba(48, 48, 48, 0.5);
    color: darkorange;
}

.fs-text {
    padding: 6px;
    
    color: #ffffff;
    font-size: 15px;
    
    font-family: serif;
}

.fs-text h2 {
    border-bottom: solid 1px #444444;
    margin-top: 4px;
    margin-bottom: 8px;
    padding-bottom: 4px;
}

.fs-text h3 {
    margin-top: 4px;
    margin-bottom: 4px;
    padding-bottom: 4px;
}

.fs-text p {
    padding-left: 4px;
    /*line-height: 14px;*/
    margin-top: 8px;
    margin-bottom: 12px;
}

.fs-text a {
    text-decoration: none;
    color: yellow;
}

.fs-text a:hover {
    color: greenyellow;
}

.fs-text ul {
    margin: 4px;
    padding-left: 32px;
    margin-bottom: 16px;
}

.fs-text code {
    font-family: monospace,monospace;
    font-size: 0.9em;
}

.fs-uniforms {
    background-color: #111;
}

.fs-uniforms p {
    padding: 0;
    margin: 0;
    font-size: 1em;
}

#fs_quickstart .wui-dialog-content {
    overflow: auto;
}

.fs-status-bar-date {
    width: auto;
    height: 11px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    color: #ffffff;
    font-size: 10px;
    padding: 4px;
    margin-left: 8px;
    line-height: 13px;
    text-align: center;
    cursor: default;
    font-family: monospace;
    font-weight: bold;
}

.fs-status-bar-content {
    width: auto;
    height: 9px;
    position: absolute;
    top: 0px;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    color: #ffffff;
    font-size: 10px;
    padding: 7px;
    margin-left: 84px;
    text-align: left;
    font-family: monospace;
    line-height: 12px;
}

.fs-midi-container {
    height: 100%;
    text-align: center;
    display: flex;
}

.fs-midi-outputs {
    width: 140px;
    min-width: 140px;
    height: 100%;
    padding: 2px;
    font-size: 10pt;
    border: solid 2px #000000;
}

.fs-midi-editor {
    height: 100%;
    text-align: left;
    flex-grow: 1;
}

.fs-midi-selected {
    background-color: #202020;
}

.fs-midi-out-compile-status {
    font-size: 10pt;
}

.fs-midi-out-compile-failed {
    font-size: 10pt;
    color: #ff0000;
}

.fs-pjs-container {
    height: 100%;
    text-align: center;
    display: flex;
}

.fs-pjs-inputs {
    width: 140px;
    min-width: 140px;
    height: 100%;
    padding: 2px;
    font-size: 10pt;
    border: solid 2px #000000;
}

.fs-pjs-editor {
    height: 100%;
    text-align: left;
    flex-grow: 1;
}

.fs-pjs-input {
    color: white;
}

.fs-pjs-input:hover {
    cursor: pointer;
    background-color: #444444;
}

.fs-pjs-selected {
    background-color: #202020;
}

.fs-pjs-status {
    font-size: 10pt;
}

.fs-pjs-failed {
    font-size: 10pt;
    color: #ff0000;
}

.leader-line {
    z-index: 9100;
}

.plainoverlay {
    user-select: none;
}

.fs-file-manager {
    background-color: #080808;
    height: 100%;
    overflow-y: auto;
    color: white;
}

.fs-file-manager:first-child {
    padding-bottom: 12px;
}

.fs-file-manager-dir-content {
    margin-left: 8px;
    padding-left: 8px;
    margin-top: 2px;
}

.fs-file-manager-file-name {
    font-size: 11px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 2px;
    display: inline-block;
    user-select: none;
}

.fs-file-manager-header {
    margin: 4px;
    line-height: 16px;
}

.fs-file-manager-header input {
    margin-right: 4px;
}

.fs-file-manager-file-name:hover {
    background-color: #333333;
    cursor: pointer;
}

.fs-file-manager-header:hover {
    background-color: #333333;
    cursor: pointer;
}

.fs-file-manager-dir-name {
    font-weight: bold;
    font-size: 12px;
    display: inline;
    user-select: none;
}

.fs-file-manager-files-content {
    padding-left: 4px;
}

.fs-file-manager-dragover {
    background-color: darkgrey;
}

.fs-file-manager-min-btn {
    width: 12px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding-right: 4px;
    color: lightgrey;
    user-select: none;
}

.fs-rotate-text-right {
    transform: translateX(-25%) rotate(-90deg);
}

.fs-file-manager-error {
    color: red;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.fs-file-manager-file-checkbox {
    vertical-align: middle;
}
