#fs_electron_login_dialog .wui-dialog-header {
    border-bottom: none;
    background: transparent;
}

#fs_electron_login_dialog .wui-dialog-content {
    background: transparent;
}

#fs_electron_login_dialog {
    border: none;
}

.fs-app-version {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #ffffff;
    padding: 8px;
    font-size: 11pt;
}

.fs-electron-login-logo {
    position: absolute;
    text-align: center;
    width: 100%;
    margin-top: 12px;
}

.fs-electron-login-logo2 {
    position: absolute;
    text-align: center;
    width: 100%;
    margin-bottom: 24px;
    bottom: 0;
}

.fs-electron-login {
    background-color: #020202;
    background-image: url("../data/dark-tire.png");
    width: 100%;
    height: 100%;
    z-index: 99999;
    position: absolute;
    transition: opacity 2s;
    transition-timing-function: ease-in;
    opacity: 1;
}

.fs-login-tab {
    padding-top: 24px;   
}

.fs-btn-big {
    padding: 6px;
    text-decoration: none;
}

.fp-session-list {
    width: 100%;
}

.fp-sessions {
    text-align: center;
}

#sessionList tr {
    height: 26px;   
}

#sessionList tr:hover {
    cursor: pointer; 
}

.login {
    background-image: url("../data/dark-tire.png");
}

.fp-social-page-fbl {
    font-size: 26px;
    
    color: #3b5998;
    
    text-decoration: none;
}

.fp-social-page-fbl:hover {
    cursor: pointer;
}

.fp-social-page-twl {
    font-size: 26px;
    
    color: #00aced;
    
    text-decoration: none;
}

.fp-social-page-twl:hover {
    cursor: pointer;
}

.fp-social-page-scl {
    font-size: 26px;
    
    color: #ff3a00;
    
    text-decoration: none;
}

.fp-social-page-scl:hover {
    cursor: pointer;
}

.fp-social-page-ytl {
    font-size: 26px;
    
    color: #cd201f;
    
    text-decoration: none;
}

.fp-social-page-ytl:hover {
    cursor: pointer;
}

.fp-center-text {
    text-align: center;
}

.social a {
    background-color: white;
    padding: 4px;
}

.fs-fas-settings {
    font-size: 10pt;
}

.fs-fas-settings label {
    width: 120px;
}

.fs-fas-settings .fs-btn {
    margin-top: 2px;
    margin-bottom: 2px;
}
