/*
    WUI style hijacking for Fragment purposes
*/

.wui-toolbar-toggle-on {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background-color: #003b5d !important;
}

.wui-dialog-minimized {
    border-color: rgb(68, 68, 68) !important;
}

.wui-toolbar-dropdown-content {
    background-color: initial;
    border-top: solid 1px #444444;
    border-left: solid 1px #444444;
    border-right: solid 1px #444444;
}

.wui-toolbar-dropdown-item {
    /*border: none;*/
    background: initial;
    background-color: rgba(16,16,16,.95);
    /*border-radius: 0;*/
}

.wui-toolbar-dropdown-item:hover {
    font-size: inherit !important;
    background-color: #141414;
}

.wui-toolbar-dropdown-item {
    display: block;
}

.wui-toolbar-dropdown-content {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    line-height: 20px !important;
}

.wui-toolbar-group-title {
    font-size: 7px !important;
    padding-top: 1px;
    padding-bottom: 3px;
}

.wui-rangeslider-input {
    margin-bottom: 2px;
}

.wui-tab-content {
    overflow: hidden;
}

.fs-input-label {
    font-size: 9pt;
}