/*#include Skeleton/normalize.css*/
/*#include Skeleton/skeleton.css*/

/*#include WUI_CircularMenu/skeleton/wui_circular_menu.min.css*/
/*#include FontAwesome/font-awesome.min.css*/

/*#include icons.css*/

body {
    font-family: "OpenSans", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
}

.button {
    border-radius: 100px;
}

video {
    width: 100%;
}

hr {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

@font-face {
/*    font-family: "Raleway-Regular";
    src: url('../data/Raleway-Regular.ttf');
*/
    font-family: "OpenSans";
    src: url('../data/OpenSans-Regular.ttf');
/*
    font-family: "Charter-Bitstream";
    src: url('../data/charter_regular-webfont.ttf');
  */  
}

@font-face {
    font-family: "OpenSans";
    src: url('../data/OpenSans-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "OpenSans";
    src: url('../data/OpenSans-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}


::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
    text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}

.fp-checksum {
    font-size: 10pt;
    font-style: italic;
}

.fp-download {
    font-size: 18pt;
}

.fp-small-text {
    font-size: 10pt;
}

.fp-video-wrapper {
	position: relative;
	padding-bottom: 26.25%;
	padding-top: 25px;
	height: 0;
}

.fp-video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.fp-session-validation {
    color: red;
    text-align: center;
    margin-bottom: 4px;
    font-weight: bold;
}

.fp-title {
    padding-bottom: 34px;
    margin-bottom: 34px;
    /*border-bottom: solid 1px #ddd;*/
}

.fp-session-list th,td {
    text-align: center;
}

.fp-session-list td {
    padding: 0;
    font-size: 11pt;
}

.fp-session-list td:hover {
    cursor: pointer;
    background-color: #eeeeee;
}

.fp-user-name {
    color: #ff8000;
    font-weight: bold;
}

.fp-center-text {
    text-align: center;
}

.fp-third-row p {
    margin-bottom: 0;
}

.fp-third-row form {
    margin-bottom: 0;
}

.fb-share-button span {
    vertical-align: baseline !important;
}

.fp-footer {
    padding: 3rem 0 3rem;
    text-align: center;
}

.fp-donate {
    margin: 0;
}

.fp-donate input {
    margin: 0;
}

.fp-social-page-fbl {
    font-size: 26px;
    
    color: #3b5998;
    
    text-decoration: none;
}

.fp-social-page-fbl:hover {
    cursor: pointer;
}

.fp-social-page-twl {
    font-size: 26px;
    
    color: #00aced;
    
    text-decoration: none;
}

.fp-social-page-twl:hover {
    cursor: pointer;
}

.fp-social-page-scl {
    font-size: 26px;
    
    color: #ff3a00;
    
    text-decoration: none;
}

.fp-social-page-scl:hover {
    cursor: pointer;
}

.fp-social-page-ytl {
    font-size: 26px;
    
    color: #cd201f;
    
    text-decoration: none;
}

.fp-social-page-ytl:hover {
    cursor: pointer;
}

.fp-social-sticky {
    position: fixed;
    z-index: 3000;

    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    
    left: 0;
}

.fp-social {
    float: left;
    display: block;
    clear: both;
    transition: padding .1s ease-out;
    -webkit-transition: padding .1s ease-out;
    -moz-transition: padding .1s ease-out;
    -ms-transition: padding .1s ease-out;
    -o-transition: padding .1s ease-out;

    background-color: #757575;
    color: white;
    display: inline-block;
    font-size: 22px;
    line-height: 1px;
    margin-bottom: 0px;
    text-align: center;
    text-decoration: none;
    
    font-size: 28px;
    width: 36px;
}

.fp-social:before {
    display: inline-block;
    font-family: "FontAwesome" !important;
    speak: none;
    line-height: 1;
    
    position: relative;
    top: 0;
    vertical-align: middle;
}

.fp-social:hover, .fp-social:focus {
    padding: 7px 7px 7px 16px;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.fp-social-facebook {
    background-color: #3B5998;
}

.fp-social-facebook:before {
    content: "\f230";
    top: -1px;
    position: relative;
}

.fp-social-twitter {
    background-color: #1DA1F2;
}

.fp-social-twitter:before {
    content: "\f099";
    top: -1px;
    position: relative;
}

.fp-social-gplus {
    background-color: #EA4335;
}

.fp-social-gplus:before {
    content: "\f2b3";
    top: -1px;
    position: relative;
}

.fp-social-tumblr {
    background-color: #395773;
}

.fp-social-tumblr:before {
    content: "\f173";
    top: -1px;
    position: relative;
}

.fp-social-youtube:before {
    content: "\f167";
    top: -1px;
    position: relative;
}

.fp-social-youtube {
    background-color: #cc181e;
}

.fp-social-soundcloud:before {
    content: "\f1be";
    top: -1px;
    position: relative;
}

.fp-social-soundcloud {
    background-color: #f50;
}

.fp-social-email {
    background-color: #757575;
}

.fp-social-email:before {
    content: "\f0e0";
    top: -1px;
    position: relative;
}

.fp-join-session-text {
    margin-bottom: 1rem;
}

.fp-join-session-heading {
    font-style: italic;
    margin-bottom: 1rem;
}

.fp-join-session {
    margin-bottom: 0;
}

.fp-justify {
    text-align: justify;
}

.fp-margin {
    margin-left: 4px;
    margin-right: 4px;
}

.fp-features {
    list-style: none;
    margin-left: 24px;
}

.fp-features li {
    text-align: left;
}

.fp-requirements {
    list-style: square;
    margin-left: 24px;
    text-align: left;
}

.fp-requirements li {
    margin-bottom: 0;
}

.fp-footer a {
    text-decoration: none;
    font-weight: bold;
    color: #000000;
}

.fp-footer form {
    margin-bottom: 0;
}

.fp-back-to-top {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 12px;
    color: #000000;
}

.fp-back-to-top i {
    font-size: 24pt !important;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.section {
    text-align: center;
}

.section-heading,
.section-description {
    margin-bottom: 1.2rem;
    
    font-size: 48pt;
    /*font-weight: bold;*/
}


/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.logos {
    position: relative;
    text-align: center;
}

.logos2 {
    position: relative;
    text-align: center;
    z-index: 100;
}

.logo {
    position: relative;
    max-width: 42%;
    margin: 3rem auto -8rem;
}

.logo-right {
    position: fixed;
    max-width: 42%;
    margin: 3rem auto -8rem;
    z-index: 100;
}

.logo + .logo {
    display: none;
}


/* Values
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.values {
    background-image: url('../data/bg.jpg');
    background-size: contain;
    color: #fff;
    padding-bottom: 5rem;
}

.value-multiplier {
    margin-bottom: .5rem;
    color: #11DFC7;
}

.value-heading {
    margin-bottom: .3rem;
}

.value-description {
    opacity: .99;
    font-weight: 300;
}

.fp-session-form {
    margin-bottom: 1.5rem;
}

.fp-input {
    text-align: center;
    /*width: 180px;*/
    margin-bottom: 0;
}


/* Help
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.get-help {
    border-bottom: 1px solid #ddd;
}


/* Categories
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.categories {
    background-image: url('../data/bg.jpg');
    background-size: cover;
    color: #fff;
}

.categories .section-description {
    margin-bottom: 4rem;
}

@media (min-width: 200px) {
    .fp-header {
        text-align: center;
        height: 102px;
    }
    
    .fp-join-session-text {
        position: absolute;
        top: 80px;
        right: 0;
        left: 0;
        font-size: 12px;
    }
    
    .fp-header .column {
        float: none;
    }
    
    .section {
        /*padding: 12rem 0 11rem;*/
        padding: 0;
    }
    .hero {
        /*padding-bottom: 12rem;*/
        text-align: left;
        /*height: 165px;*/
    }
    .logo {
        position: relative;
        max-width: 100%;
        margin: 3rem auto -8rem;
/*
        position: absolute;
        top: -7rem;
        right: 3rem;
        max-height: 362px;
        z-index: 3;
        */
    }
    .logo-right {
        max-width: 100%;
        margin: auto;/*3rem auto -8rem;*/
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
    .logo + .logo {
/*
        top: -6rem;
        display: block;
        max-width: 73.8%;
        right: 0;
        z-index: 2;
        max-height: 338px;
*/
    }
    .hero-heading {
        font-size: 2.4rem;
    }
    
    .value-heading {
        margin-top: 1.2rem;
    }
    .fp-about-heading {
        margin-top: 0;
    }
    /*
    .fp-dl-table th:first-child, td:first-child {
        display: none;
    }*/
    
    /* Navbar */
    .navbar,
    .navbar-spacer {
        display: none;
        width: auto;
        position: relative;
        height: 6.5rem;
        background: #fff;
        z-index: 99;
        /*border-top: 1px solid #eee;*/
        border-bottom: 1px solid #e3e3e3;
    }

    
    .fp-fork-me {
        display: none;   
    }
    
    .fp-social-sticky {
        display: none;   
    }
    
    .fp-anchor {
        padding-top: 10px;
    }
    
    .fp-features {
        list-style: square;
    }
    
    .fp-features li {
        margin-bottom: 2px;
    }
    
    .fp-features li:before {    
        display: none;
    }
    
    .fp-sessions {
        padding-bottom: 0;
    }
    
    .fp-try > div > p:first-child {
        display: none;
    }
    
    .fp-dl-table td:first-child {
        font-size: 7px;
    }
}

@media (min-width: 550px) {
    .fp-dl-table td:first-child {
        font-size: 15px;
    }
}

/* Bigger than 550 */
/*
@media (min-width: 550px) {
    .fp-header {
        height: 78px;
        text-align: left;
    }
    
    .section {
        padding: 12rem 0 11rem;
    }
    .hero {
        text-align: left;
    }
    .offset-by-one.column {
        margin-left: 4.66666666667%;
    }
    
    .logo {
        position: relative;
        max-width: 70%;
        margin: 3rem auto -8rem;
    }
    .logo-right {
        position: fixed;
        max-width: 100%;
        margin: 0;
        top: auto;
        left: auto;
        right: auto;
    }
    .logo + .logo {
    }
    .hero-heading {
        font-size: 2.4rem;
    }
    .fp-dl-table th:first-child, td:first-child {
        display: table-cell;
    }
    .fp-session-form input {
        width: 100%;
    }
    .navbar,
    .navbar-spacer {
        display: block;
    }
    
    .fp-social {
        padding: 7px;
    }
    
    .fp-social-sticky {
        display: block;   
    }
    
    .fp-anchor {
        padding-top: 19px;
        margin-top: -19px;
    }
    
    .fp-features li {
        margin-bottom: 0;
    }
    
    .fp-features li:before {    
        font-family: 'FontAwesome';
        content: "\f00c";
        margin:0 5px 0 -15px;
    }
    
    .navbar + .docs-section {
        border-top-width: 0;
    }
    
    .navbar,
    .navbar-spacer {
        display: block;
        width: 80%;
        position: fixed;
        height: 6.5rem;
        background: #fff;
        z-index: 99;
        border-bottom: 1px solid #e3e3e3;
    }
    
    .navbar-spacer {
        display: none;
    }
    
    .navbar > .container {
        width: 100%;
    }
    
    .navbar-list {
        float: right;
        list-style: none;
        text-align: left;
        margin-bottom: 0;
    }
    
    .navbar-item {
        position: relative;
        float: left;
        margin-bottom: 0;
    }
    
    .navbar-link {
        text-transform: uppercase;
        font-size: 9px;
        font-weight: 600;
        letter-spacing: .2rem;
        margin-left: 22px;
        text-decoration: none;
        line-height: 9.5rem;
        color: #222;
    }
    
    .navbar-link.active {
        color: #33C3F0;
    }
    
    .has-docked-nav .navbar {
        position: fixed;
        top: 0;
        left: 0;
    }
    
    .has-docked-nav .navbar-spacer {
        display: block;
    }
    
    .has-docked-nav .navbar > .container {
        width: 80%;
    }
    
    .one-half.column {
        width: auto;
    }
}*/


/* Bigger than 750 */

@media (min-width: 750px) {
    .navbar,
    .navbar-spacer {
        width: 80%;
    }
    
    .hero {
        /*height: 388px;*/
    }
    .hero-heading {
        font-size: 2.6rem;
    }
    .logo {
        position: relative;
        max-width: 44%;
        margin: 3rem auto -8rem;
    }
    .logo-right {
        position: fixed;
        max-width: 100%;
        margin: 0;
        top: auto;
        left: auto;
        right: auto;
    }
    .section {
        padding: 14rem 0 15rem;
    }
    .hero {
        padding: 0 0 0;
    }
    .section-description {
        max-width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    .categories {
        padding: 15rem 0 8rem;
    }
    
    .one-half.column {
        width: 48%;
    }
    
    .hero-heading {
        font-size: 2.4rem;
    }
    
    .navbar,
    .navbar-spacer {
        display: block;
    }
    
    .navbar + .docs-section {
        border-top-width: 0;
    }
    
    .navbar,
    .navbar-spacer {
        display: block;
        width: 80%;
        position: fixed;
        height: 6.5rem;
        background: #fff;
        z-index: 99;
        border-bottom: 1px solid #e3e3e3;
    }
    
    .navbar-spacer {
        display: none;
    }
    
    .navbar > .container {
        width: 100%;
    }
    
    .navbar-list {
        float: right;
        list-style: none;
        text-align: left;
        margin-bottom: 0;
    }
    
    .navbar-item {
        position: relative;
        float: left;
        margin-bottom: 0;
    }
    
    .navbar-link {
        text-transform: uppercase;
        font-size: 9px;
        font-weight: 600;
        letter-spacing: 0;
        margin-left: 10px;
        text-decoration: none;
        line-height: 9.5rem;
        color: #222;
    }
    
    .navbar-link.active {
        color: #33C3F0;
    }
    
    .has-docked-nav .navbar {
        position: fixed;
        top: 0;
        left: 0;
    }
    
    .has-docked-nav .navbar-spacer {
        display: block;
    }
    
    .has-docked-nav .navbar > .container {
        width: 80%;
    }
    
    .offset-by-one.column {
        margin-left: 4.66666666667%;
    }
    
    .fp-sessions {
        padding-bottom: 3rem;
    }
    
    .fp-join-session-text {
        position: static;
        top: auto;
        right: auto;
        left: auto;
        font-size: 1em;
    }
    
    .fp-try > div > p:first-child {
        display: block;
    }
    
    .fp-session-form input {
        width: 100%;
    }
    
    .fp-header {
        height: 78px;
        text-align: left;
    }
    
    .fp-header .column {
        float: left;   
    }
    
    .fp-header .offset-by-one.column {
        right: auto;
        top: auto;
    }
    
    .fp-dl-table th:first-child, td:first-child {
        display: table-cell;
    }
    .fp-session-form input {
        width: 100%;
    }
    .fp-social {
        padding: 7px;
    }
    
    .fp-social-sticky {
        display: block;   
    }
    
    .fp-anchor {
        padding-top: 19px;
        margin-top: -19px;
    }
    
    .fp-features li {
        margin-bottom: 0;
    }
    
    .fp-features li:before {    
        font-family: 'FontAwesome';
        content: "\f00c";
        margin:0 5px 0 -15px;
    }
}

@media (min-width: 970px) {
    .navbar-link {
        letter-spacing: .2rem;
        margin-left: 22px;
        font-size: 10px;
    }
    
    iframe {
        width: 366px;
        height: 206px;
    }
}

@media (min-width: 1216px) {
    .navbar,
    .navbar-spacer {
        width: 960px;
    }
    
    .navbar-link {
        font-size: 11px;
    }
    
    .fp-header {
        height: 78px;
        text-align: left;
    }
    
    .logo-right {
        position: fixed;
    }
    
    .fp-header .offset-by-one.column {
        right: auto;
        top: auto;
    }
    
    .fp-header .column {
        float: left;   
    }
    
    .fp-fork-me {
        display: block;   
    }
    
    .fp-fork-me img {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        border: 0;
    }
    
    .offset-by-one.column {
        margin-left: 8.66666666667%;
    }
    
    iframe {
        width: 460px;
        height: 259px;
    }
}